@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: marby;
  src: url("../assets/Syne-VariableFont_wght.ttf");
}


@layer base {

  :root  {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(135deg,hsl(var(--background)),hsl(var(--border)));

    // --gradient: linear-gradient(to top left,#283048,#859398);
    --background: 239 96.45% 98.44%;
    --foreground: 239 2.9% 0.88%;

    --muted: 239 2.9% 92.2%;
    --muted-foreground: 239 1.45% 42.2%;

    --popover: 239 66.8% 92.2%;
    --popover-foreground: 239 2.9% 1.1%;

    --card: 239 66.8% 92.2%;
    --card-foreground: 239 2.9% 1.1%;

    --border: 239 7.9% 89.88%;
    --input: 239 7.9% 89.88%;

    --primary: 239 29% 22%;
    --primary-foreground: 239 0.58% 92.2%;

    --secondary: 239 1.45% 96.1%;
    --secondary-foreground: 239 2.7399999999999998% 12.2%;

    --accent: 239 1.45% 96.1%;
    --accent-foreground: 239 2.7399999999999998% 12.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 239 29% 22%;

    --radius: 0.5rem;
  }
  .dark  {
    --gradient: linear-gradient(to bottom right,hsl(var(--background)),hsl(var(--border)));

    --background: 198 14.3% 2.08%;
    --foreground: 198 2.2% 96.3%;

    --muted: 198 11% 7.800000000000001%;
    --muted-foreground: 198 2.2% 52.6%;

    --popover: 198 60.6% 3.38%;
    --popover-foreground: 198 2.2% 96.3%;

    --card: 198 60.6% 3.38%;
    --card-foreground: 198 2.2% 96.3%;

    --border: 198 11% 7.800000000000001%;
    --input: 198 11% 7.800000000000001%;

    --primary: 198 22% 26%;
    --primary-foreground: 198 2.2% 96.3%;

    --secondary: 198 11% 7.800000000000001%;
    --secondary-foreground: 198 2.2% 96.3%;

    --accent: 198 11% 7.800000000000001%;
    --accent-foreground: 198 2.2% 96.3%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 198 2.2% 96.3%;

    --ring: 198 22% 26%;
    --radius: 0.5rem;

  }

  .bg-gradient {
    background: var(--gradient);
  }
  
  }
  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  // color: hsl(var(--foreground));
  // background: hsl(var(--background));
  font-family: marby;
  overflow-x: hidden;
  padding: 0;
  
}



.project {

  .projectBtn{
    top: 50%;
    left: 0px;
    scale: 0.05;
    background: var(--gradient);
    color: hsl(var(--foreground));
    transition: all .25s ease;

  }
  .imgContainer{
    flex: 1;
  }
  .infoContainer{
    flex: 1;
  }
  

}

.project:hover{

  .projectBtn{
    top: 50%;
    left: -30px;
    scale: 1;

    background: hsl(var(--foreground));
    color: hsl(var(--background));
    transition: all .25s ease;
  }
}

.bg-radial-pattern {
  background-image: radial-gradient(hsl(var(--muted-foreground)) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: 5px 4px;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--card));
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--muted-foreground));
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.connectBtn {
  span {
    background: var(--gradient);
    color: hsl(var(--foreground));

    transition: scale 0.5s ease;

  }
  h1 {
    text-align: start;
    margin-left: 1.5rem;
    letter-spacing: normal;
    transition: all 0.25s ease;
  }
}
.connectBtn:hover {
  span {

    background: hsl(var(--foreground));
    color: hsl(var(--background));
    scale: 1.15;
    transition: scale 0.5s ease;
  }
  h1 {
    margin-left: 2.5rem;
    letter-spacing: 2px;

    transition: all 0.25s ease;
  }
}


.active {
  background-color: #F0F0F0;
  color: #0f0f0f;
}

@keyframes blink {
  0% {
    opacity: 0;
    scale: 0.1;
  }
  50% {
    opacity: 1;
    scale: 1.25;
  }
  100% {
    opacity: 0;
    scale: 0.1;

  }
}

.animate-blink {
  animation: blink 2s infinite;
}

.project-flip:nth-child(even) {
  flex-direction: row-reverse;
}
